In [68]:
import pandas as pd

df = pd.read_excel(r"C:\Users\Juan Esteban\Downloads\Online Retail.xlsx")
df.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom

In [69]:
print(df.shape)
df.describe()

(541909, 8)

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [70]:
#handle missing values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [71]:
#delete rows with missing CustomerID
df1 = df.dropna(subset=['CustomerID'])

In [85]:
#identiy duplicated rows
duplicated_rows = df1[df1.duplicated()]


#delete duplicated rows
df2 = df1.drop_duplicates()
print(df2.shape)

(401604, 8)

In [86]:
df2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [87]:
# identify cancelled transactions
df_cancelled_transactions = df2[df2['InvoiceNo'].str.contains('C', na=False)]

print(df_cancelled_transactions.shape)
print(df_cancelled_transactions.head())

(8872, 8)
    InvoiceNo StockCode                       Description  Quantity  \
141   C536379         D                          Discount        -1
154   C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24

            InvoiceDate  UnitPrice  CustomerID         Country
141 2010-12-01 09:41:00      27.50     14527.0  United Kingdom
154 2010-12-01 09:49:00       4.65     15311.0  United Kingdom
235 2010-12-01 10:24:00       1.65     17548.0  United Kingdom
236 2010-12-01 10:24:00       0.29     17548.0  United Kingdom
237 2010-12-01 10:24:00       0.29     17548.0  United Kingdom

In [88]:
negative_quantity = df2[df2['Quantity'] < 0]
print(negative_quantity.shape)
print(negative_quantity.head())

(8872, 8)
    InvoiceNo StockCode                       Description  Quantity  \
141   C536379         D                          Discount        -1
154   C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24

            InvoiceDate  UnitPrice  CustomerID         Country
141 2010-12-01 09:41:00      27.50     14527.0  United Kingdom
154 2010-12-01 09:49:00       4.65     15311.0  United Kingdom
235 2010-12-01 10:24:00       1.65     17548.0  United Kingdom
236 2010-12-01 10:24:00       0.29     17548.0  United Kingdom
237 2010-12-01 10:24:00       0.29     17548.0  United Kingdom

In [89]:
# Number of negative quantity transactions that are not cancelled
negative_not_cancelled = df2[
    (df2['Quantity'] < 0) & 
    (~df2['InvoiceNo'].str.startswith('C', na=False))
]
print(negative_not_cancelled.shape)

(0, 8)

In [90]:
#Same invoice both positive and negative quantities
invoice_signs = (
    df2.groupby('InvoiceNo')['Quantity']
    .apply(lambda x: (x > 0).any() and (x < 0).any())
)

partial_returns = invoice_signs[invoice_signs].index

df2[df2['InvoiceNo'].isin(partial_returns)].head()

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [91]:
#reverse previous transactions, same products bought and returned by same customers
negatives = negative_not_cancelled[['CustomerID', 'StockCode', 'Quantity', 'InvoiceDate']]

positives = df2[df2['Quantity'] > 0][['CustomerID', 'StockCode', 'Quantity', 'InvoiceDate']]

merged = negatives.merge(
    positives,
    on=['CustomerID', 'StockCode'],
    suffixes=('_neg', '_pos')
)

merged = merged[merged['InvoiceDate_pos'] < merged['InvoiceDate_neg']]
merged.head()

Empty DataFrame
Columns: [CustomerID, StockCode, Quantity_neg, InvoiceDate_neg, Quantity_pos, InvoiceDate_pos]
Index: []

## Revenue Analysis

In [ ]:
df2['TotalPrice'] = df2['Quantity'] * df2['UnitPrice']
df2.head()

C:\Users\Juan Esteban\AppData\Local\Temp\ipykernel_29180\1757647728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['TotalPrice'] = df2['Quantity'] * df2['UnitPrice'].loc[df2.index]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34